<div class="container-fluid">
  <h2 class="text-center">Welcome to Care Share</h2>

  <mat-form-field appearance="outline">
    <input
      matInput
      [(ngModel)]="searchText"
      placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="list-group">
    <div
      class="list-group-item"
      *ngFor="let charity of charities | filter: searchText">
      <a [href]="charity.charityNavigatorURL">{{charity.charityName}}</a>
    </div>
  </div>
</div>
