<div class="container-fluid">
  <h2 class="text-center">Welcome to Care Share</h2>
  <div class="row">
    <div
      class="col-3 charity"
      *ngFor="let charity of charities">
      Charity: {{charity.charityName}}
      Address:
      {{charity.mailingAddress.streetAddress1}}
      {{charity.mailingAddress.stateOrProvince}}
      {{charity.mailingAddress.postalCode}}
    </div>
  </div>
</div>

<!-- stateOrProvince": "PA",
      "city": "Philadelphia",
      "postalCode": "19133",
      "streetAddress1": "2637 North Fifth Street", -->
