<div class="container-fluid">
  <h2 class="text-center">Welcome to Care Share</h2>

    <!-- {{data | json}} -->
    <!-- <div class="row"> -->
    <a class="col-md-6 nav-link nav-color" routerLink="/calander">
      <div class="text-center story">
        Calander
      </div>
    </a>
    <!-- <a class="col-md-6 nav-link nav-color" routerLink="/authors">
      <div class="text-center author">
        AUTHOR
      </div>
    </a>  -->
  <!-- </div> -->
  <mat-form-field appearance="outline">
    <input
      matInput
      [(ngModel)]="searchText"
      placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="list-group">
    <div
      class="list-group-item"
      *ngFor="let charity of charities | filter: searchText">
      <a [href]="charity.charityNavigatorURL">{{charity.charityName}}</a>
    </div>
  </div>
</div>
