<div class="example-container">
  <mat-toolbar class="menu-toolbar">
    <button mat-icon-button class="d-md-none" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <a class="nav-link" routerLink="/calendar">
      <h1 class="app-name">Care Share</h1>
    </a>
    <span class="spacer"></span>

    <button class="d-md-none" mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

    </mat-menu>
      <a class="nav-link" routerLink="/crawler"></a>
    <span class="toolbar-spacer"></span>

    <ng-template [ngIf]="!auth.loggingIn">
      <button *ngIf="!auth.loggedIn" class='btn btn-primary' (click)="auth.login()">Log In</button>
      <span *ngIf="auth.loggedIn && auth.userProfile">
        <mat-icon class="toolbar-icon account align-middle">account_circle</mat-icon>
         {{ auth.userProfile.name }}
        <span class="divider"> | </span>
        <a [style.cursor]="'pointer'" (click)="auth.logout()">Log Out</a>
      </span>
    </ng-template>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container ">
    <mat-sidenav #snav mode="over">
      <mat-nav-list>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="router container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
